<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  ${HEAD}
  <body>
    <table
      class="email-wrapper"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tr>
        <td align="center">
          <table
            class="email-content"
            width="100%"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <tr>
              <td class="email-masthead">
                <a
                  href="https://montreal.com.br"
                  class="f-fallback email-masthead_name"
                >
                  Recuperação de Senha
                </a>
              </td>
            </tr>
            <!-- Email Body -->
            <tr>
              <td
                class="email-body"
                width="570"
                cellpadding="0"
                cellspacing="0"
              >
                <table
                  class="email-body_inner"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <div class="f-fallback">
                        <h1>Olá, ${NAME}</h1>

                        <p>
                          Você solicitou a redefinição de sua senha. Clique no link abaixo para criar uma nova senha.
                        </p>
                        <!-- Action -->

                        <p>Para referência, aqui está seu link:</p>
                        <table
                          class="attributes"
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                        >
                          <!-- <tr>
                            <td class="attributes_content">
                              <table
                                width="100%"
                                cellpadding="0"
                                cellspacing="0"
                                role="presentation"
                              >
                                <tr>
                                  <td class="attributes_item">
                                    <span class="f-fallback">
                                      <strong>Link:</strong>
                                      <a href="<%= locals.link %>"
                                        >clique aqui</a
                                      ></span
                                    >
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr> -->
                          <tr>
                            <td class="attributes_item">
                              <span class="f-fallback">
                                <small>Se o link não estiver funcionando, copie e cole o seguinte URL em uma nova aba do navegador:</small>
                                <br />
                                <br />
                                <small>${LINK}</small>
                                <br />
                                
                              </span>
                              <span class="f-fallback">
                                <br />
                                <strong>Link:</strong>
                                <a href="${LINK}" >clique aqui</a>
                              </span>
                            </td>
                          </tr>
                        </table>

                        <p>
                          Caso tenha alguma dúvida, sinta-se à vontade para
                          <a href="mailto:supporte@montreal.com.br"
                            > enviar um e-mail para nossa equipe de sucesso do cliente</a
                          >. (Respondemos muito rápido) Também oferecemos

                          durante o horário comercial.
                        </p>
                        <p>Time Montreal</p>
                        <p>
                          <strong>P.S.</strong> Precisa de ajuda imediata para começar? Confira nossa
                          <a href="https://www.montreal.com.br/help"
                            >documentação de ajuda</a
                          >. Ou, apenas responda a este
                          <a href="mailto:supporte@montreal.com.br">email</a>, a equipe de suporte da empresa está sempre pronta para ajudar!
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              ${FOOTER}
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
